.login-form {
    width: 525px;
    background: rgba(12, 3, 10, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.4);
    color: #fff;
    border-radius: 10px;
    padding: 37.5px 50px; 
}

.login-form h1 {
    font-size: 40px;
    text-align: center;
}

.login-form .input-box {
    position: relative;
    width: 100%;
    height: 60px;
    margin: 37.5px 0; 
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 40px;
    font-size: 18px;
    color: #fff;
    padding: 22.5px 55px 22.5px 25px; 
}

.input-box input::placeholder {
    color: #fff;
    font-size: 16px;
}

.input-box .icon {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px; 
}

.login-form .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 16px; 
    margin: -15px 0 25px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 4px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login-form button {
    width: 100%;
    height: 55px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color: #333;
    font-weight: 700;
    transition: background 0.3s ease, transform 0.2s ease; 
}

.login-form button:hover {
    background: rgba(255, 255, 255, 0.8);
}

.login-form button:active {
    transform: scale(0.8); 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.login-form .register-link {
    font-size: 16px;
    text-align: center;
    margin: 25px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}
